<!DOCTYPE html>
<head>
  <title>Chatbox Example</title>
    <style>
      /* CSS for the chatbox */
      #chatbox {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        overflow: auto;
      }
      #message-input {
        width: 25%;
      }
    </style>
  <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
</head>
<body>
  <h1>Resellr</h1>

  <ul>
    <% Object.keys(filteredConvTable).forEach(function(key) { %>
      <li> Conversation<%= key %>:</li> 
      <form action="messages/<%= key %>">
        <button class="btn btn-danger btn-lg">Click</button>
      </form>
      <% Object.keys(filteredConvTable[key]).forEach(function(convInfo) { %>
        <li><%= convInfo %>: <%= filteredConvTable[key][convInfo] %></li>
      <% }); %>
    <% }); %>
  </ul>

  
</body>
