{% extends 'base.html' %}

{% block title %}Página inicial{% endblock %}

{% block body %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
	<div class="container">

		<!-- SMARTCART PLUGIN -->
		<div id="smartcart" class="d-none"></div>

		TODO

	</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

{% block scripts %}
<script>



	//redirect to checkout page
	window.location.href = '/items/';



	$(document).ready(function () {
		$('#smartcart').smartCart();
	});
</script>
{% endblock %}