{% extends 'base.html' %}

{% block body %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary border-bottom">
	<div class="container">
		<h2 class="title-page text-white">Item "{{ details.name }}"</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb text-white">
				<li class="breadcrumb-item"><a href="index.html" class="text-white">Página inicial</a></li>
				<li class="breadcrumb-item"><a href="buy.html" class="text-white">Lista de items</a></li>
				<li class="breadcrumb-item active" aria-current="page">Detalhes do item</li>
			</ol>
		</nav>
	</div>
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
	<div class="container">

		<!-- SMARTCART PLUGIN -->
		<div id="smartcart" class="d-none"></div>

		<!-- ============================ PRODUCT DETAIL ================================= -->
		<div id="product-detail">
			<div class="card sc-product-item">
				<div class="row no-gutters align-items-center">
					<aside class="col-md-6">
						<article class="gallery-wrap">
							<div class="img-big-wrap">
								<a href="#"><img src="{{details.image}}" class="img-fluid h-auto" alt=""
										data-name="product_image"></a>
							</div>
							<div class="thumbs-wrap">
								<a href="#" class="item-thumb"><img src="{{details.image}}" alt=""></a>
							</div>
						</article>
					</aside>
					<main class="col-md-6 border-left">
						<article class="content-body">
							<h2 class="title" data-name="product_name">{{details.name}}</h2>

							{% if details.availability %}
							<ul class="list-check pt-1">
								<li class="text-success">Disponível</li>
							</ul>
							{% else %}
							<ul class="list-dots pt-1">
								<li class="text-muted">Indisponível</li>
							</ul>
							{% endif %}

							<div class="mb-3">
								<var class="price h4">{{ details.price }}</var>
								{% if details.old_price %}
								<del class="price-old">{{ details.old_price }}</del>
								{% endif %}
							</div>

							<figure class="itemside mb-3">
								<div class="aside">
									<img class="icon icon-sm rounded-circle"
										src="/static/images/misc/avatar.jpg">
								</div>
								<figcaption class="info">
									<p class="font-weight-bold mb-0 pb-0">
										<a href="#" title="Ver mais produtos deste vendedor" data-name="product_desc">{{
											details.user }}</a>
									</p>
									<div class="rating-wrap">
										<ul class="rating-stars">
											<li style="width:{{ details.rating * 100 / 5 }}%" class="stars-active">
												<img src="/static/images/icons/stars-active.svg"
													alt="">
											</li>
											<li>
												<img src="/static/images/icons/stars-disable.svg"
													alt="">
											</li>
										</ul>
										<small class="label-rating">{{ details.rating }}</small>
										<i class="dot"></i>
										<small class="label-rating text-muted"><i class="fas fa-comment-dots"></i> {{
											details.reviews }}
											avaliaç{{ 'ão' if details.reviews == 1 else 'ões' }}
										</small>
										<i class="dot"></i>
										<small class="label-rating text-primary"><i class="fas fa-shopping-basket"></i>
											{{ details.orders }} venda{{ '' if details.orders == 1 else 's' }}</small>
									</div>
								</figcaption>
							</figure>

							<p class="text-justify">{{ details.description }}</p>

							<dl class="row">
								<dt class="col">Categoria:</dt>
								<dd class="col-sm-9"><a href="#" title="Ver mais produtos nesta categoria">{{
										details.category }}</a></dd>
							</dl>
							<dl class="row">
								<dt class="col">Estado:</dt>
								<dd class="col-sm-9">{{ details.condition }}</dd>
							</dl>
							<dl class="row">
								<dt class="col">Publicado:</dt>
								<dd class="col-sm-9">
									<span id="date">{{ details.date }}</span>
									<small id="date-full" class="text-muted">({{ details.date }})</small>
								</dd>
							</dl>
							<dl class="row">
								<dt class="col">Localização:</dt>
								<dd class="col-sm-9">{{ details.location }}</dd>
							</dl>

							<hr>
							<form id="product" action="checkout.html">
								<div class="row justify-content-between align-items-end">
									<div class="col-12 text-center">
										{% if details.availability %}
										<button type="submit"
											class="btn btn-primary btn-block mb-2 sc-add-to-cart">Comprar
											agora</button>
										<button type="button" id="add-cart"
											class="btn btn-outline-primary mb-2 sc-add-to-cart">Adicionar ao
											carrinho <i class="fas fa-shopping-cart fa-fw"></i></button>
										<button type="button" class="btn btn-outline-danger mb-2 sc-remove-from-cart"
											style="display: none;">Remover do carrinho <i
												class="fas fa-shopping-cart fa-fw"></i></button>
										<button type="button" class="btn btn-outline-secondary ml-xl-2 mb-2 px-3">
											Perguntar ao vendedor <i class="fas fa-paper-plane fa-fw"></i></button>
										<button type="button" class="btn btn-danger ml-xl-2 mb-2 px-4"
											id="add-wishlist"><i class="far fa-heart fa-fw"></i></button>
										{% else %}
										<button type="button" class="btn btn-primary btn-block"
											disabled>Vendido</button>
										{% endif %}
									</div>
								</div>
							</form>
							<input name="product_price" value="{{ details.price }}" type="hidden">
							<input name="product_id" value="{{ details.id }}" type="hidden">
						</article>
					</main>
				</div>
			</div>
		</div>
		<!-- ============================ PRODUCT DETAIL END// ================================= -->

		<!-- ============================ PRODUCT FEEDBACK & RELATED PRODUCTS ================================= -->
		<div class="row mt-4 justify-content-between">
			<div class="col-md-8 pr-5" id="product-feedback"></div>

			<div class="col-md-4 pt-5 mt-3" id="section-related" style="display: none;">
				<div class="card mt-5">
					<div class="card-body" id="product-related">
						<h5 class="card-title mb-4">Produtos sugeridos</h5>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================ PRODUCT FEEDBACK & RELATED PRODUCTS END// ================================= -->

	</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		// Related products counter
		var i = 0;

		/*
				var ratings = 0;								// Sum of all ratings
				var reviews = 0; 								// Total number of reviews
				for (var number in products[key].feedback) {
					if (products[key].feedback.hasOwnProperty(number)) {
						ratings += parseInt(products[key].feedback[number].rating); // Append each individual rating
						reviews++;
					}
				}
				var rating = 0; 								// Average rating
				if (reviews != 0) {
					rating = (ratings / reviews).toFixed(1);
				}
				var stars = (rating * 100 / 5).toFixed(2);			// Width of rating stars icons of in percentage
	
				$("#product-detail").append(`
						
					`);
		*/

		/*
			$("#product-feedback").append(`
					<header class="section-heading">
						<h3>Feedback</h3>  
						<div class="rating-wrap">
							<ul class="rating-stars stars-lg">
								<li style="width:${stars}%" class="stars-active">
									<img src="images/icons/stars-active.svg" alt="">
								</li>
								<li>
									<img src="images/icons/starts-disable.svg" alt="">
								</li>
							</ul>
							<strong class="label-rating text-lg">${rating}<span class="text-muted ml-1"> | <i class="fas fa-comment-dots ml-1 mr-1"></i> ${reviews} avaliaç${reviews != 1 ? "ões" : "ão"}</span></strong>
						</div>
					</header>
				`);

			
					$("#product-feedback").append(`
							<article class="box mb-3">
								<div class="icontext w-100">
									<img src="${products[key].feedback[count].avatar}" class="img-xs icon rounded-circle" alt="">
									<div class="text">
										<span class="date text-muted float-right">${products[key].feedback[count].date}</span>  
										<h6 class="mb-1">${products[key].feedback[count].name}</h6>
										<ul class="rating-stars">
											<li style="width:${(products[key].feedback[count].rating * 100 / 5).toFixed(0)}%" class="stars-active">
												<img src="images/icons/stars-active.svg" alt="">
											</li>
											<li>
												<img src="images/icons/starts-disable.svg" alt="">
											</li>
										</ul>
										<span class="label-rating text-warning">${products[key].feedback[count].rating}</span>
									</div>
								</div>
								<p class="mt-3">${products[key].feedback[count].comment}</p>	
							</article>
						`);
				
			

		
			// Show 3 random suggested products from the products list
			if (i < 3) {
				$("#product-related").append(`
						<article class="itemside mb-3">
							<a href="product.html?id=${products[key].id}" class="aside">
								<img src="${products[key].image}" width="96" height="96" class="img-sm img-thumbnail">
								<div class="info">
									<a href="product.html?id=${products[key].id}" class="title mb-1">${products[key].name}</a>
									<p class="text-muted small my-1">Produtor: ${products[key].producer}</p>
									<strong class="price">${products[key].price}€<small class="text-muted"> /kg</small></strong>
								</div>
							</a>
						</article>
					`);
				i++;
			}

			*/

		$('#smartcart').smartCart();

		$('.price, .price-old').each(function () {
			let price = $(this).text();
			$(this).text(new Intl.NumberFormat('pt-PT', {
				style: 'currency',
				currency: 'EUR'
			}).format(price));
		});

		let date = new Date($('#date').text()).getTime();
		let string = new Intl.RelativeTimeFormat('pt-PT', {
			numeric: 'auto',
			style: 'long'
		}).format(Math.ceil((date - new Date().getTime()) / (1000 * 60 * 60 * 24)), 'day');
		if (string == 'hoje') {
			string = new Intl.RelativeTimeFormat('pt-PT', {
				numeric: 'auto',
				style: 'long'
			}).format(Math.ceil((date - new Date().getTime()) / (1000 * 60 * 60)), 'hour');
		}
		if (string == 'esta hora') {
			string = new Intl.RelativeTimeFormat('pt-PT', {
				numeric: 'auto',
				style: 'long'
			}).format(Math.ceil((date - new Date().getTime()) / (1000 * 60)), 'minute');
		}
		if (string == 'este minuto') {
			string = 'agora mesmo'
		}
		$('#date').text(string.charAt(0).toUpperCase() + string.slice(1));

		$('#date-full').text('(' + new Intl.DateTimeFormat('pt-PT', {
			year: 'numeric',
			month: 'long',
			day: 'numeric',
			hour: 'numeric',
			minute: 'numeric'
		}).format(date) + ')');

		$('#add-cart.sc-add-to-cart').click(function () {
			$(this).hide().next('.sc-remove-from-cart').show();
		});

		$('#add-wishlist').click(function () {
			$(this).children('i').toggleClass('fas far');
		});

		$('.sc-remove-from-cart').click(function () {
			$('.sc-added-item').removeData("product-unique-key");
			unique_key = $(this).parent().closest('.sc-added-item').data('product-unique-key');
			$('#smartcart').smartCart('remove', unique_key);
			$(this).hide().prev('#add-cart.sc-add-to-cart').show();
		});
	});
</script>
{% endblock %}
