{% extends 'base.html' %}

{% block title %}Lista de itens{% endblock %}

{% block body %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary border-bottom">
	<div class="container">
		<h2 class="title-page text-white">Itens para venda</h2>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb text-white">
				<li class="breadcrumb-item"><a href="index.html" class="text-white">Página inicial</a></li>
				<li class="breadcrumb-item active" aria-current="page">Lista de items</li>
			</ol>
		</nav>
	</div>
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
	<div class="container">

		<!-- SMARTCART PLUGIN -->
		<div id="smartcart" class="d-none"></div>

		<div class="row">
			<aside class="col-md-3">

				<div class="pt-3 sticky-top">
					<div class="card shadow">
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Categoria</h6>
								</a>
							</header>
							<div class="filter-content collapse show" id="collapse_1">
								<div class="card-body">
									<label class="checkbox-btn">
										<input type="checkbox" checked>
										<span class="btn btn-light">Frutas</span>
									</label>

									<label class="checkbox-btn">
										<input type="checkbox" checked>
										<span class="btn btn-light">Vegetais</span>
									</label>
								</div>
							</div>
						</article>
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Preço</h6>
								</a>
							</header>
							<div class="filter-content collapse show" id="collapse_3">
								<div class="card-body">
									<div class="form-row justify-content-between">
										<div class="form-group col-md-6">
											<label>Mínimo</label>
											<input class="form-control" placeholder="0€" type="number" min="0" max="100"
												step="5">
										</div>
										<div class="form-group text-right col-md-6">
											<label>Máximo</label>
											<input class="form-control" placeholder="100€" type="number" min="0"
												max="100" step="5">
										</div>
									</div>
									<button class="btn btn-block btn-primary">Filtrar</button>
								</div>
							</div>
						</article>
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Avaliações</h6>
								</a>
							</header>
							<div class="filter-content collapse show" id="collapse_4">
								<div class="card-body">
									<label class="custom-control custom-checkbox">
										<input type="checkbox" checked class="custom-control-input">
										<div class="custom-control-label text-warning">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i>
										</div>
									</label>

									<label class="custom-control custom-checkbox">
										<input type="checkbox" checked class="custom-control-input">
										<div class="custom-control-label text-warning">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i>
										</div>
									</label>

									<label class="custom-control custom-checkbox">
										<input type="checkbox" checked class="custom-control-input">
										<div class="custom-control-label text-warning">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i>
										</div>
									</label>

									<label class="custom-control custom-checkbox">
										<input type="checkbox" checked class="custom-control-input">
										<div class="custom-control-label text-warning">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										</div>
									</label>

									<label class="custom-control custom-checkbox">
										<input type="checkbox" checked class="custom-control-input">
										<div class="custom-control-label text-warning">
											<i class="fa fa-star"></i>
										</div>
									</label>
								</div>
							</div>
						</article>
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Mostrar</h6>
								</a>
							</header>
							<div class="filter-content collapse in" id="collapse_5">
								<div class="card-body">
									<label class="custom-control custom-radio">
										<input type="radio" name="myfilter_radio" class="custom-control-input" checked>
										<div class="custom-control-label">Todos</div>
									</label>

									<label class="custom-control custom-radio">
										<input type="radio" name="myfilter_radio" class="custom-control-input">
										<div class="custom-control-label">Apenas produtos disponíveis</div>
									</label>

									<label class="custom-control custom-radio">
										<input type="radio" name="myfilter_radio" class="custom-control-input">
										<div class="custom-control-label">Apenas produtos indisponíveis</div>
									</label>

									<label class="custom-control custom-radio">
										<input type="radio" name="myfilter_radio" class="custom-control-input">
										<div class="custom-control-label">Apenas produtos em promoção</div>
									</label>

									<label class="custom-control custom-radio">
										<input type="radio" name="myfilter_radio" class="custom-control-input">
										<div class="custom-control-label">Apenas produtos novos</div>
									</label>
								</div>
							</div>
						</article>
					</div>
				</div>

			</aside>
			<main class="col-md-9">

				<header class="border-bottom mb-4 mt-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto ml-2 ml-sm-0"><b>{{ items|length }}</b> items encontrados</span>
						<select class="mx-2 my-2 my-sm-0 form-control">
							<option value="" disabled selected>Ordenar por...</option>
							<optgroup label="Relevância">
								<option>Mais relevante</option>
							</optgroup>
							<optgroup label="Data">
								<option>Mais recente</option>
								<option>Mais antigo</option>
							</optgroup>
							<optgroup label="Popularidade">
								<option>Mais vendido</option>
								<option>Menos vendido</option>
							</optgroup>
							<optgroup label="Preço">
								<option>Mais barato</option>
								<option>Mais caro</option>
							</optgroup>
							<optgroup label="Avaliação">
								<option>Melhor classificação</option>
								<option>Pior classificação</option>
							</optgroup>
						</select>
						<div class="ml-2 ml-sm-0 btn-group">
							<button class="btn btn-outline-secondary" data-toggle="tooltip" title="Vista de lista"
								id="list_view">
								<i class="fa fa-bars"></i>
							</button>
							<button class="btn btn-outline-secondary active" data-toggle="tooltip"
								title="Vista de grelha" id="grid_view">
								<i class="fa fa-th"></i>
							</button>
						</div>
					</div>
				</header>

				<div class="row" id="buy">

					{% for item in items %}
					<div class="col-lg-4 col-sm-6 product">
						<figure class="card card-product-grid sc-product-item">
							<div class="img-wrap">
								<a href="/items/{{ item.id }}">
									<span class="badge badge-warning badge-pill text-uppercase">Novidade</span>
									{% if item.old_price %}
									<span class="badge badge-danger badge-pill text-uppercase">Promoção</span>
									{% endif %}
									<img src="{{ item.image }}" alt="" data-name="product_image">
									<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Zoom</a>
								</a>
							</div>
							<figcaption class="info-wrap">
								<a href="/items/{{ item.id }}">
									<p class="title font-weight-semibold mb-1" data-name="product_name">{{ item.name }}
									</p>
									<p class="small text-muted mb-3">Vendedor:
										<span data-name="product_desc">{{item.user }}</span>
									</p>
									<div class="price-wrap mb-3">
										<var class="price">{{ item.price }}</var>
										{% if item.old_price: %}
										<del class="price-old">{{ item.old_price }}</del>
										{% endif %}
									</div>
								</a>
								<button
									class="btn btn-block btn-primary sc-add-to-cart product${products[key].id}">Adicionar
									ao carrinho</button>
								<button class="btn btn-block btn-danger sc-remove-from-cart"
									style="display: none;">Remover do carrinho</button>
								<button class="btn btn-block btn-primary unavailable product${products[key].id}"
									style="display: none;" disabled>Indisponível</button>
							</figcaption>
							<input name="product_price" value="{{ item.price }}" type="hidden">
							<input name="product_id" value="{{ item.id }}" type="hidden">
						</figure>
					</div>
					{% endfor %}

				</div>

				<nav class="mt-4 d-flex justify-content-center" aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
						<li class="page-item"><a class="page-link" href="#">9</a></li>
						<li class="page-item"><a class="page-link" href="#">Seguinte</a></li>
					</ul>
				</nav>

			</main>

		</div>

	</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function () {
		/*
		// Total of products that customer can buy from the chosen producer
		var counter = 0;

		for (var key in products) {
			// Search through all the products in the list and display only the products that are for sale by the chosen producer
			if (products.hasOwnProperty(key) && products[key].producer == searchParams.get('producer')) {
				$("#buy").append(`
						
					`);

				if (products[key].quantity_left < 1) {
					$('.sc-add-to-cart.product' + products[key].id).hide();
					$('.form-inline.product' + products[key].id).css("visibility", "hidden");
					$('.unavailable.product' + products[key].id).show();
				}

				counter++;
			}
		}
		*/

		$('#smartcart').smartCart();

		$('.price, .price-old').each(function () {
			let price = $(this).text();
			$(this).text(new Intl.NumberFormat('pt-PT', {
				style: 'currency',
				currency: 'EUR'
			}).format(price));
		});

		$('.sc-add-to-cart').click(function () {
			$(this).hide().next('.sc-remove-from-cart').show();
		});

		$('.sc-remove-from-cart').click(function () {
			$('.sc-added-item').removeData("product-unique-key");
			unique_key = $(this).parent().closest('.sc-added-item').data('product-unique-key');
			$('#smartcart').smartCart('remove', unique_key);
			$(this).hide().prev('.sc-add-to-cart').show();
		});

		// Get value entered on search input and filter products instantaneously, hiding those that do not contain that keywords on title
		$('input[type=search]').on('keyup input', function () {
			var value = $(this).val().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '');
			$('div#buy p.title').filter(function () {
				$(this).closest('div.product').toggle($(this).text().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').indexOf(value) > -1);
			});
			$("#product_filter").html(`A mostrar <b>${filter = $('div.product:not([style*="display: none"])').length}</b> produto${filter != 1 ? "s" : ""} de um total de <b>${counter}</b> encontrados neste produtor`);
		});

	});
</script>

{% endblock %}