{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block body %}

<!-- ========================= MODAL ========================= -->
<div class="modal fade" id="new" tabindex="-1" aria-labelledby="new_item" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
		<div class="modal-content shadow-lg">

			<div class="modal-header">

				<h5 class="modal-title mx-3" id="new_item">Adicionar novo item para venda</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>

			<div class="modal-body">

				<form class="my-3 mx-3" action="/items" method="post">
					<div class="form-group form-row">
						<label class="col-md-3 col-form-label">Título</label>
						<div class="col">
							<input class="form-control" placeholder="Título do item" type="text" name="title" required>
						</div>
					</div>

					<div class="form-group form-row">
						<label class="col-md-3 col-form-label">Estado</label>
						<div class="col-sm-9 pt-2">
							<label class="custom-control custom-radio custom-control-inline">
								<input class="custom-control-input" type="radio" name="condition" value="Novo" checked>
								<span class="custom-control-label">Novo</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input class="custom-control-input" type="radio" name="condition" value="Usado">
								<span class="custom-control-label">Usado</span>
							</label>
						</div>
					</div>

					<div class="form-group form-row">
						<label class="col-md-3 col-form-label">Preço</label>
						<div class="col">
							<input class="form-control" placeholder="Preço em €" type="number" min="0.01" max="1000"
								step="0.01" name="price" required>
						</div>
					</div>

					<div class="form-group form-row">
						<label class="col-md-3 col-form-label">Descrição</label>
						<div class="col">
							<textarea class="form-control" placeholder="Pequena descrição sobre o item" rows="4"
								name="description" required></textarea>
						</div>
					</div>

					<div class="form-group form-row">
						<label class="col-md-3 col-form-label">Categoria</label>
						<div class="col">
							<select class="form-control" name="category_id" required>
								<option value="" disabled selected>Categoria e subcategoria</option>
								<optgroup label="Categoria A:"></optgroup>
								<option value="1">Subcategoria 1</option>
								<option value="2">Subcategoria 2</option>
								<option value="3">Subcategoria 3</option>
								<optgroup label="Categoria B:"></optgroup>
								<option value="4">Subcategoria 1</option>
								<option value="5">Subcategoria 2</option>
								<optgroup label="Categoria C:"></optgroup>
								<option value="6">Subcategoria 1</option>
								<option value="7">Subcategoria 2</option>
							</select>
						</div>
					</div>

					<div class="form-group form-row">
						<label class="col-md-3 col-form-label">Localização</label>
						<div class="col">
							<input class="form-control" placeholder="Concelho (Distrito)" type="text" name="location"
								required>
						</div>
					</div>

					<div class="form-group form-row align-items-center">
						<label class="col-md-3 col-form-label">Imagem ilustrativa</label>
						<div class="col">
							<div class="dropzone form-control">
								<div class="info text-muted"></div>
							</div>
						</div>
					</div>

					<div class="form-group pt-3">
						<button type="submit" class="btn btn-primary btn-block">Publicar novo item para venda</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<!-- ========================= MODAL END// ========================= -->


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary border-bottom">
	<div class="container">
		{% if 1 %}
		{# TODO: if user.username == current_user.username #}
		<h2 class="title-page text-white">O meu perfil</h2>
		{% else %}
		<h2 class="title-page text-white">@{{ user.username }}</h2>
		{% endif %}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb text-white">
				<li class="breadcrumb-item"><a href="/" class="text-white">Página inicial</a></li>
				<li class="breadcrumb-item active" aria-current="page">Perfil</li>
			</ol>
		</nav>
	</div>
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
	<div class="container">

		<!-- SMARTCART PLUGIN -->
		<div id="smartcart" class="d-none"></div>

		<div class="row">
			<aside class="col-md-4">
				<div class="sticky-top pt-3">
					<article class="card shadow">
						<div class="card-body">
							<div class="mb-3 text-center">
								<img src="{{ user.avatar or '/static/images/misc/avatar.jpg' }}" width="130"
									height="130" alt="" class="avatar img-thumbnail rounded-circle">
							</div>
							<div class="mb-3 text-center">
								<a href="/profiles/{{ user.username }}" class="h5 title">{{ user.name }}
									<br><span class="h6 text-muted">@{{ user.username }}</span>
								</a>
								<div class="rating-wrap mb-3">
									<ul class="rating-stars">
										<li class="stars-active" style="width:{{ user.rating * 100 / 5 }}%;">
											<img src="/static/images/icons/stars-active.svg" alt="">
										</li>
										<li>
											<img src="/static/images/icons/stars-disable.svg" alt="">
										</li>
									</ul>
									<span class="label-rating text-muted">{{ user.rating }}</span>
									<p class="small text-muted mt-1">(com base em
										{{ user.total_reviews }} avaliaç{{ 'ão' if user.total_reviews == 1 else 'ões'
										}})
									</p>
								</div>
							</div>
							<div class="my-4">
								<p class="mb-2">
									<i class="fas fa-phone-alt fa-fw text-secondary"></i> {{ user.phone }}
								</p>
								<p class="mb-2">
									<i class="fas fa-envelope fa-fw text-secondary"></i> {{ user.email }}
								</p>
								<p class="mb-2">
									<i class="fas fa-map-marker-alt fa-fw text-secondary"></i> {{ user.location }}
								</p>
								<p class="mb-2">
									<i class="fas fa-comments-dollar fa-fw text-secondary"></i>
									{{ user.total_sales }} venda{{ '' if user.total_sales == 1 else 's' }}
								</p>
								<p class="mb-2">
									<i class="fas fa-shopping-basket fa-fw text-secondary"></i>
									{{ user.total_purchases }} compra{{ '' if user.total_purchases == 1 else 's'
									}}
								</p>
								<p class="mb-2">
									<i class="fas fa-clock fa-fw text-secondary"></i>
									Registado desde <time id="date-registration">{{ user.registration }}</time>
								</p>
							</div>
							<a href="#" class="btn w-100 btn-primary">
								Editar perfil<i class="fas fa-user-edit ml-2"></i>
							</a>
						</div>
					</article>
				</div>
			</aside>
			<main class="col-md-8">
				<!-- =========================  SALES ========================= -->
				<header class="border-bottom mb-4 mt-4 pb-3">
					<div class="form-inline">
						{% if user.items|length != 0 %}
						<span class="mr-md-auto ml-2 ml-sm-0">
							{% if 1 %}
							{# TODO: if user.username == current_user.username #}
							Atualmente tem <b>{{ user.items|length }}</b>
							item{{ '' if user.items|length == 1 else 's' }} à venda
							{% else %}
							Atualmente este utilizador tem <b>{{ user.items|length }}</b>
							item{{ '' if user.items|length == 1 else 's' }} à venda
							{% endif %}
						</span>
						<select class="mx-2 my-2 my-sm-0 form-control">
							<option value="" disabled selected>Ordenar por...</option>
							<optgroup label="Relevância">
								<option>Mais relevante</option>
							</optgroup>
							<optgroup label="Data">
								<option>Mais recente</option>
								<option>Mais antigo</option>
							</optgroup>
							<optgroup label="Preço">
								<option>Mais barato</option>
								<option>Mais caro</option>
							</optgroup>
						</select>
						<div class="ml-2 ml-sm-0 btn-group">
							<button class="btn btn-outline-secondary" data-toggle="tooltip" title="Vista de lista"
								id="list_view">
								<i class="fa fa-bars"></i>
							</button>
							<button class="btn btn-outline-secondary active" data-toggle="tooltip"
								title="Vista de grelha" id="grid_view">
								<i class="fa fa-th"></i>
							</button>
						</div>
						{% else %}
						<span class="mr-md-auto ml-2 ml-sm-0">
							{% if 1 %}
							{# TODO: if user.username == current_user.username #}
							Atualmente não tem <b>nenhum</b> item à venda
							{% else %}
							Este utilizador não está a vender nada de momento
							{% endif %}
						</span>
						{% endif %}
					</div>
				</header>

				<div class="row" id="buy">

					{% if 1 %}
					{# TODO: if user.username == current_user.username #}
					<div class="col-lg-4 col-sm-6 pb-4">
						<div class="card h-100 mb-5">
							<button class="btn btn-block btn-light h-100" data-toggle="modal"
								data-target="#new">Adicionar novo item para venda
								<i class="fas fa-plus-circle ml-1"></i>
							</button>
						</div>
					</div>
					{% endif %}

					{% for item in user.items %}
					<div class="col-lg-4 col-sm-6 product{% if not item.is_available %} inactive{% endif %}">
						<figure class="card card-product-grid sc-product-item">
							<div class="img-wrap">
								<a href="/items/{{ item.id }}">
									<span class="badge badge-warning badge-pill text-uppercase d-none">Novidade</span>
									{% if item.old_price %}
									<span class="badge badge-danger badge-pill text-uppercase">Promoção</span>
									{% endif %}
									<img src="{{ item.image }}" alt="">
									<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Zoom</a>
								</a>
							</div>
							<figcaption class="info-wrap">
								<a href="/items/{{ item.id }}">
									<p class="title font-weight-semibold mb-1">{{ item.title }}
									</p>
									<p class="small text-muted mb-1">
										<i class="fas fa-user fa-fw"></i>
										<span>{{ item.owner.name }}</span>
									</p>
									<p class="small text-muted mb-1">
										<i class="fas fa-map-marker-alt fa-fw"></i> {{ item.location }}
									</p>
									<p class="small text-muted mb-2">
										<i class="fas fa-clock fa-fw"></i>
										<span class="date">{{ item.date }}</span>
									</p>
									<div class="price-wrap mb-3">
										<var class="price">{{ item.price }}</var>
										{% if item.old_price: %}
										<del class="price-old">{{ item.old_price }}</del>
										{% endif %}
									</div>
								</a>
								{% if item.is_available %}
								<form action="/items/delete/{{ item.id }}" method="post"
									onsubmit="return confirm('Tem a certeza que pretende apagar permanentemente este anúncio?\nTenha em atenção que esta ação é irreversível.');">
									<button type="submit" class="btn btn-block btn-danger">Retirar anúncio</button>
								</form>
								{% else %}
								<button class="btn btn-block btn-primary" disabled>Anúncio terminado</button>
								{% endif %}
							</figcaption>
						</figure>
					</div>
					{% endfor %}

				</div>
				<!-- =========================  SALES END// ========================= -->

			</main>
		</div>

	</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

{% block scripts %}

<script src="/static/js/imgur.js"></script>

<script>
	$(document).ready(function () {
		$('#smartcart').smartCart();

		$('.date').each(function () {
			let date = new Date($(this).text());

			if (new Date() - date < 1000 * 60 * 60 * 24) {
				$(this).parent().parent().parent().parent().parent().find('.badge.badge-warning').removeClass('d-none');
			}

			let string = new Intl.RelativeTimeFormat('pt-PT', {
				numeric: 'always',
				style: 'long'
			}).format(Math.ceil((date - new Date()) / (1000 * 60 * 60 * 24 * 30 * 12)), 'year');
			if (string == 'há 0 anos') {
				string = new Intl.RelativeTimeFormat('pt-PT', {
					numeric: 'always',
					style: 'long'
				}).format(Math.ceil((date - new Date()) / (1000 * 60 * 60 * 24 * 30)), 'month');
			}
			if (string == 'há 0 meses') {
				string = new Intl.RelativeTimeFormat('pt-PT', {
					numeric: 'always',
					style: 'long'
				}).format(Math.ceil((date - new Date()) / (1000 * 60 * 60 * 24)), 'day');
			}
			if (string == 'há 0 dias') {
				string = new Intl.RelativeTimeFormat('pt-PT', {
					numeric: 'always',
					style: 'long'
				}).format(Math.ceil((date - new Date()) / (1000 * 60 * 60)), 'hour');
			}
			if (string == 'há 0 horas') {
				string = new Intl.RelativeTimeFormat('pt-PT', {
					numeric: 'always',
					style: 'long'
				}).format(Math.ceil((date - new Date()) / (1000 * 60)), 'minute');
			}
			if (string == 'há 0 minutos') {
				string = 'agora mesmo'
			}
			$(this).text(string);
		});

		let since = new Date($('#date-registration').text());
		$('#date-registration').text(new Intl.DateTimeFormat('pt-PT', {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		}).format(since));

		$('.price, .price-old').each(function () {
			let price = $(this).text();
			$(this).text(new Intl.NumberFormat('pt-PT', {
				style: 'currency',
				currency: 'EUR'
			}).format(price));
		});

		var feedback = function (res) {
			if (res.success === true) {
				var get_link = res.data.link.replace(/^http:\/\//i, 'https://');
				document.querySelector('.status').classList.add('mt-2');
				document.querySelector('.status').innerHTML = 'Imagem: ' + '<br><input name="image" class="image-url form-control text-center mt-1 mb-2" readonly value=\"' + get_link + '\"/>' + '<img class="img rounded" alt="" src=\"' + get_link + '\"/>';
			}
		};
		new Imgur({
			clientid: '4409588f10776f7',
			callback: feedback
		});
	});
</script>

{% endblock %}